@model Data
<footer>
    <section id="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="customer-service">
                        <ul>
                            <li>
                                <h6>Customer Service</h6>
                            </li>
                            <li><a href="">Help & Contact Us</a></li>
                            <li><a href="">Returns & Refunds</a></li>
                            <li><a href="">Online Stores</a></li>
                            <li><a href="">Terms&Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="company">
                        <ul>
                            <li>
                                <h6>Company</h6>
                            </li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Order Tracking</a></li>
                            <li><a href="">FAQ page</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Login</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="social-media">
                        <ul>
                            <li>
                                <h6>Social Media</h6>
                            </li>
                            <li><a href="@Model.Twitter">Twitter</a></li>
                            <li><a href="@Model.Instagram">Instagram</a></li>
                            <li><a href="@Model.Tumblr">Tumblr</a></li>
                            <li><a href="@Model.Pinterest">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="archive">
                        <ul>
                            <li>
                                <h6>Archive</h6>
                            </li>
                            <li><a href="">Designer Shoes</a></li>
                            <li><a href="">Gallery</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="">Feature Index</a></li>
                            <li><a href="">Login</a></li>
                            <li><a href="">HelpSupport</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="container"><div class="row"><hr></div></div>

    <section id="bottom-footer">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-4 col-12">
                    <div class="text">
                        <p>Powered by <a href="">Kanan Bagaliyev</a> 2019</p>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <div class="image">
                        <a href=""><img src="img/credit-cards.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-4 col-12 text-center">
                    <div class="follow-us">
                        <a href="@Model.Instagram">Instagram</a>
                        <a href="@Model.Facebook">Facebook</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>